.tenant-registration-form-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid var(--coliv-dark-green);
    padding: 5%;
}

.tenant-registration-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.datepicker-container {
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 30px;
}

.datepicker:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .tenant-registration-form-container {
        width: 90%;
        border: none;
    }
}