#availability-section {
    width: 100%;
    height: 100%;
}

#availability-section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.availability-section__title {
    width: 25%;
    font-size: var(--title-font-large-screen);
    text-align: center;
}

#availability-section__table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
    overflow: scroll;
    border: 2px solid var(--coliv-dark-green);
    border-radius: 5px;
    height: 450px; /* TODO: find a better solution*/
}

@media only screen and (max-width: 800px) {
    #availability-section__header {
        display: none;
    }
    
    #availability-section__table {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}
