#booking-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.dropdown-container {
    width: 20%;
    margin-right: 10%;
}

@media only screen and (max-width: 1000px) {
    #booking-section {
        flex-direction: column;
    }

    .dropdown-container {
        position: relative;
        margin-bottom: 20px;
    }
}