.page-content {
    padding: 5% 10% 5% 10%;
    width: 80%;
    height: 90vh;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.button-container:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--beige);
}

.section-container {
    padding: 2% 4% 2% 4%;
    width: 92%;
    border: 3px solid var(--coliv-dark-green);
    border-radius: 5px;
    height: 80%;
    overflow: scroll;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.section-text-rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.section-title {
    font-size: var(--title-font-large-screen);
}

.section-text {
    font-size: var(--body-font-large-screen);
}

.button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.message-container-centered {
    width: 90%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--title-font-large-screen);
}

.success-msg {
    color: var(--success-green);
}

.fail-msg {
    color: var(--error-red);
}

/* Margin functions */
.margin-right-1 {
    margin-right: 10px;
}

.margin-right-2 {
    margin-right: 20px;
}

.margin-right-3 {
    margin-right: 20px;
}

.margin-bottom-1 {
    margin-bottom: 10px;
}

.margin-bottom-2 {
    margin-bottom: 20px;
}

.margin-bottom-3 {
    margin-bottom: 30px;
}

.margin-top-2 {
    margin-top: 20px;
}

.margin-top-3 {
    margin-top: 30px;
}

@media only screen and (max-width: 800px) {
    .page-content {
        height: 100vh;
    }
    .section {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .page-content {
        height: 115vh;
    }
}