.reset-password-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid var(--coliv-dark-green);
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
}

.reset-password-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#to-login-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--body-font-large-screen);
}

#to-login-link {
    color: var(--coliv-dark-green);
    text-decoration: underline;
}

#to-login-link:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .reset-password-form-container {
        margin-left: 2%;
        margin-right: 2%;
    }
}
