.loyalty-program-table__entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.loyalty-program-table__item {
    width: 18%;
    font-size: var(--item-font-large-screen);
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

.loyalty-program-table__delimiter {
    border: 1px solid var(--coliv-dark-green);
    width: 90%;
}

@media only screen and (max-width: 800px) {
    .loyalty-program-table__entry {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;        
    }

    .loyalty-program-table__item {
        width: 80%;
        font-size: var(--item-font-mid-screen);
        text-align: left;
        padding-left: 10%;
        padding-right: 10%;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 550px) {
    .loyalty-program-table__item {
        font-size: var(--title-font-small-screen);
    }
}
